.chat .container {
  /* max-width: 728px; */
  margin: 0 auto;
  padding: 0px;
  border-radius: 7px;
}

.chat .tight {
  padding: 0 !important;
}

.chat .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat .settings-tray {
  height: 3vh;
  min-height: 50px;
  /* position: fixed; */
  width: 100%;
  /* max-width: 728px; */
  /* top: 60px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  box-sizing: border-box;

  background: rgb(240, 235, 225);

  padding: 10px 10%;
  border-radius: 7px;
}

.chat .settings-tray .no-gutters {
  padding: 0%;
}

.chat .settings-tray .alignright {
  float: right;
}

.chat .settings-tray i {
  margin-top: 10px;
  font-size: 25px;
  color: grey;
  margin-left: 14px;
  transition: 0.3s;
}

.chat .contact-drawer {
  padding: 5px 5px;
  display: flex;
  vertical-align: baseline;
  background: #fff;
  transition: 0.3s ease;
}

.chat .contact-drawer .text {
  margin-left: 4%;
  width: 90%;
  margin-bottom: 0%;
}

.chat .contact-drawer .text h6 {
  margin: 0%;
}

.chat .contact-drawer .text p {
  margin: 0%;
}

.chat hr {
  margin: 0;
  height: 0;
}

.chat .Chat {
  text-align: center;
  /* max-width: 720px; */
  margin: 0;
}

.chat .Chat section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}

.chat .message-window {
  padding: 0;
  height: 70vh;
  margin: 40px 0 2vh;
  padding-bottom: 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.chat .message-window::-webkit-scrollbar {
  width: 0.5rem;
}

.chat .message-window::-webkit-scrollbar-track {
  background: #fff;
}

.chat .message-window::-webkit-scrollbar-thumb {
  background: lightsteelblue;
}

.chat form {
  height: 10vh;
  bottom: 0;
  background-color: rgba(24, 23, 23, 0);
  width: 100%;
  display: flex;
  font-size: 1.5rem;
}

.chat form button {
  width: 15%;
  height: 40px;
  background-color: lightskyblue !important;
  margin-left: 1vh;
  text-align: center;
  border: none !important;
}

.chat .input-box {
  text-align: center;
}

.chat .chat-box-tray {
  background: #eee;
  display: flex;
  align-items: baseline;
  padding: 10px 15px;
  align-items: center;
  margin-top: 19px;
  bottom: 0;
}
