.chat .row {
  padding: 0px;
  margin: 0px;
  background: transparent;
  color: var(--light-text-color);
}

.chat .container {
  background: var(--light-bg-semitransparent);
  margin: 30px auto;
  max-width: 800px;
  /* height: 80vh; */
  position: relative;
  box-shadow: 1px 1px 12px var(--dark-bg-semitransparent);
}

.chat .contacts {
  background: var(--light-bg-semitransparent1);
  padding: 0px;
}

.chat .contacts .header {
  background: var(--light-bg-semitransparent2);
  font-size: large;
  padding: 20px;
  text-align: center;
}

.chat .Chat .header {
  font-size: large;
  height: 20%;
  margin: 20px;
  align-self: center;
  padding: 5px 10px;
  text-align: center;
  background: var(--dark-bg-semitransparent2);
  border-radius: 20px;
}

.chat .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.chat .contact-drawer {
  padding: 8px 15px;
  vertical-align: center;
  margin-top: auto;
  transition: 0.3s ease;
}

.chat .contact-drawer .item {
  padding: 0px 0px;
  vertical-align: center;
  font-size: medium;
  color: var(--light-bg-semitransparent7);
  transition: 0.3s ease;
  cursor: pointer;
}

.chat .contact-drawer .item.curItem {
  color: #fff;
}

.chat .contact-drawer .item:hover {
  color: #fff;
  background: var(--light-bg-semitransparent2);
  border-radius: 10px;
}

.chat .contact-drawer .item .icon {
  padding: 0px 0px;
  vertical-align: center;
  font-size: 35px;
  transition: 0.3s ease;
}

.chat .contact-drawer .item.curItem .icon {
  color: var(--fullbg-yellow);
}

.chat .Chat {
  text-align: center;
  /* max-width: 720px; */
  margin: 0;
}

.chat .Chat section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 60vh;
}

.chat .message-window {
  padding: 0;
  height: 75vh;
  padding-bottom: 20px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.chat .message-window::-webkit-scrollbar {
  width: 0.5rem;
}

.chat .message-window::-webkit-scrollbar-track {
  background: var(--dark-bg-semitransparent1);
}

.chat .message-window::-webkit-scrollbar-thumb {
  background: var(--light-bg-semitransparent3);
}

.chat form {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: rgba(24, 23, 23, 0);
  width: 100%;
  display: flex;
  font-size: 1.5rem;
}

.chat form .send-button {
  height: 40px;
  margin: 0px 20px;
  font-size: larger;
  text-align: center;
  transition: 0.3s ease;
}

.chat form .send-button:hover {
  color: var(--fullbg-yellow);
}

.chat .form-control.input-box {
  text-align: center;
  height: 40px;
  background: var(--light-bg-semitransparent1);
  border: none;
  color: var(--light-text-color);
}

.chat .form-control.input-box:focus {
  background: var(--dark-bg-semitransparent2);
}

.chat .form-control.input-box::placeholder {
  color: var(--light-bg-semitransparent7);
}
