.message {
  padding: 10px;
  margin: 10px;
  width: fit-content;
  background-color: rgb(143, 141, 141) !important;
  color: white;
}

.message__user {
  margin-left: auto;
  background-color: cornflowerblue !important;
  text-align: left !important;
}
