.message {
  width: fit-content;
  font-size: small;
  margin: 0px 15px;
  color: var(--light-text-color);
  text-align: left;
}

.message__user {
  margin-left: auto;
  text-align: right;
}

.message__card {
  width: fit-content;
  max-width: 400px;
  background: var(--light-bg-semitransparent1) !important;
  border: none !important;
  color: white;
  font-size: medium;
  padding: 10px 20px;
  box-shadow: 1px 1px 20px var(--dark-bg-semitransparent1);
}

.message__card__user {
  margin-left: auto;
  background-color: var(--light-bg-semitransparent2) !important;
}

.message .name {
  margin-top: 15px;
  margin-bottom: 3px;
  font-size: medium;
}
