.message {
  width: fit-content;
  font-size: small;
  margin: 0 1%;
  color: dimgrey;
  text-align: left;
}

.message__user {
  margin-left: auto;
  text-align: right;
}

.message__card {
  padding: 8px;
  width: fit-content;
  background-color: lightslategrey !important;
  color: white;
  font-size: medium;
}

.message__card__user {
  margin-left: auto;
  background-color: lightsteelblue !important;
}
