.container {
  max-width: 100%;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.btn.btn-primary {
  background: var(--light-bg-semitransparent2);
  color: var(--light-text-color);
  border: none;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.btn.btn-primary:hover {
  background: var(--dark-bg-semitransparent2);
  color: var(--light-text-color);
}

.btn.btn-primary:focus {
  outline: var(--fullbg-yellow);
}

a {
  color: var(--dark-text-color-link);
}

.form-control {
  text-align: center;
  height: 40px;
  background: var(--light-bg-semitransparent2);
  border: none;
  color: var(--light-text-color);
}

.form-control:focus {
  background: var(--dark-bg-semitransparent2);
}

.form-control::placeholder {
  color: var(--light-bg-semitransparent7);
}
